#home {
  background-color: #121212;
}

.container-fluid {
  padding: 2% 5%;
}

.nav-link {
  font-size: 1.5rem;
}

.content-card {
  background-color: #2b2b2b;
  width: 90%;
  font-size: 2.5rem;
  text-align: center;
}

h1 {
  color: white;
  font-size: 5rem;
  text-align: center;
}

.content-body {
  margin-top: 8%;
  color: white;
  text-align: center;
  font-size: 1.8rem;
}

#internships {
  background-color: #d9d9d9;
  padding: 2% 5%;
}

.internship-para {
  margin-top: 4%;
  font-size: 2rem;
  text-align: center;
}

.internship-card {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}
