body {
  background-color: black;
}

.container-fluid {
  padding: 2% 5%;
}

.nav-link {
  font-size: 1.5rem;
}

.card {
  background-color: #2b2b2b;
  width: 90%;
  font-size: 2.5rem;
  text-align: center;
}

h1 {
  color: white;
  font-size: 5rem;
  text-align: center;
}

.content-body {
  margin-top: 8%;
  color: white;
  text-align: center;
  font-size: 1.8rem;
}
