#home {
  background-color: #121212;
}

.container-fluid {
  padding: 2% 5%;
}

.nav-link {
  font-size: 1.5rem;
}

.content-card {
  background-color: #2b2b2b;
  width: 90%;
  font-size: 2.5rem;
  text-align: center;
}

h1 {
  color: white;
  font-size: 5rem;
  text-align: center;
}

.content-body {
  margin-top: 8%;
  color: white;
  text-align: center;
  font-size: 1.8rem;
}

#internships {
  background-color: #d9d9d9;
  padding: 2% 5%;
}

.internship-para {
  margin-top: 4%;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

.internship-card {
  text-align: center;
  font-weight: bold;
  font-size: 1.8rem;
}

#why-us {
  background-color: #121212;
  padding: 5% 5%;
}

.why-us-card {
  background-color: #2b2b2b;
  padding: 5%;
}

.why-us-list {
  color: white;
  font-size: 1.5rem;
  margin-top: 10%;
}

#join-now {
  background-color: #d9d9d9;
  padding: 5% 5%;
}

.join-now-content {
  font-size: 1.5rem;
}

#follow-us {
  background-color: #121212;
  padding: 5% 5%;
}

.follow-us-content {
  color: white;
  text-align: center;
  font-size: 1.8rem;
  margin: 5% 0;
}

.follow-us-div {
  text-align: center;
}

.follow-us-img {
  margin-left: 5%;
}

.follow-us-icons {
  color: white;
  text-align: right;
  font-size: 1.5rem;
}
