body {
  background-image: url("team.png");
  background-attachment: fixed;
}

#photos {
  padding: 5%;
}

h1 {
  margin: 4% 0;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 4rem;
}

h2 {
  font-weight: bold;
}

.link {
  text-decoration: none;
  font-size: 3rem;
  color: #121212;
}
