body {
  background-image: url("team.png");
  background-attachment: fixed;
}

#photos {
  padding: 5%;
}

h1 {
  margin: 4% 0;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 4rem;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.03, 1.03);
  box-shadow: 0 10px 16px 0 rgba(145, 87, 87, 0.3);
}

h2 {
  font-weight: bold;
}

.link {
  text-decoration: none;
  font-size: 3rem;
  color: #121212;
}
